<section class="footers pt-5 ">
  <div class="container">
    <div class="row ">
      <div class="col-lg-4 col-md-12 mb-3">
        <div class="text-center">
            <h2>LOCATION</h2>
            <h5> 2215 John Daniel Drive </h5>
            <h5>Clark, MO 65243</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-3">
        <div class="text-center">
            <h2>AROUND THE WEB</h2>
            <div class="icons m-4">
              <i class="fa-brands fa-linkedin"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-github"></i>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-3">
        <div class="text-center">
            <h2>ABOUT FREELANCER</h2>
            <h5> Freelance is a free to use, licensed Bootstrap theme </h5>
            <h5>created by Mahmod Mamdoh</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="map">
  <div class="row">
      <div class="col-md-12 col-sm-12">
          <div>
              <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14889630.630773721!2d30.173712499999986!3d24.340788701019186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2seg!4v1693608822333!5m2!1sar!2seg"
                  width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
      </div>
  </div>
</section>
<section class="copyRight">
  <div class="container">
     <h3>All copy rights reserved © Mahmodmamdoh2000.Com</h3>
  </div>
</section>
