
.act
{
  padding: 10px 25px;
  color: rgb(255, 255, 255);
  background-color: #1abc9c;
  border-radius: 10px;
  font-size: 15px;
  transition: 1s linear ;
}

.nav{
  overflow: hidden;
}

nav a{
  color: #ffffff;
}
